<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello <%= @user.first_name %> <%= @user.last_name %>,</p>
    <p>Your LIS account has been canceled. We hope to see you again soon.</p>
    <p>Thank you.</p>
  </body>
</html>
