<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello <%= @user.first_name %> <%= @user.last_name %>,</p>
    <p>
      Your Legume Information System account has been created at
      comparative-legumes.org. To sign in to the site, click the link
      below and enter your username and password. Remember, your username
      is your email address.
    </p>
    <p><%= link_to @url, new_user_session_url %></p>
    <p>Thank you.</p>
  </body>
</html>
