<div id="footer">
	<p><strong>Legume Information System</strong> <%= Time.now.strftime('%B %Y')%></p>
  <p>
  <%= link_to image_tag("usda_ars.jpg", :alt => "USDA"), "http://www.ars.usda.gov/mwa/ames/cicgr" %>
  <%= link_to image_tag("ncgr.jpg", :alt => "NCGR"), "http://ncgr.org" %>
  </p>
</div>
