<h1>About the Legume Information System</h1>
<p>The mission of LIS is to enable productive applied and basic research in the legumes by relating 
data from multiple crop and model species, and by helping researchers traverse among various data types. 
We would like to get your questions, suggestions, and contributions!  
<%= mail_to "lis_feedback@ncgr.org", "lis_feedback@ncgr.org", :encode => "javascript" %></p>

<p>The Legume Information System, a component of the Model Plant Initiative (MPI), is developed by the 
National Center for Genome Resources in cooperation with the USDA Agricultural Research Service under a 
Specific Cooperative Agreement.</p>

<h3>The LIS team</h2>

<p><span class="title">National Center for Genome Resources</span></p>
<p>John A. Crow, Andrew D. Farmer, Kenneth A. Seal, Arvind K. Bharti, Selene M. Virk, Gregory D. May</p>

<p><span class="title">United States Department of Agriculture, Agricultural Research Service</span></p>
<p>Steven B. Cannon, Nathan T. Weeks, Rex T. Nelson, David M. Grant, Randy C. Shoemaker</p> 