<% title 'Species' %>

<h1>Species</h1>
<div id="tree-container">
	<div id="phylogenetic-tree"></div>
</div>
<div id="tree-text">
	<h4>Species Text</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at lacinia risus. 
	Donec id nibh erat, sit amet rutrum orci. Duis vitae dolor tortor, nec viverra magna. 
	Sed porta elementum arcu at dictum. Nullam lacinia nisl non mauris cursus imperdiet 
	tincidunt ante rutrum. Proin quis metus vitae diam venenatis pretium suscipit non purus. 
	Vestibulum ac elit eu turpis euismod venenatis. Nulla fringilla gravida lectus in adipiscing. 
	Curabitur mollis erat non tortor tempus fermentum. Sed in molestie leo. In vel augue nisl, 
	eget aliquet velit. Cum sociis natoque penatibus et magnis dis parturient montes, 
	nascetur ridiculus mus. Phasellus in quam ac nulla posuere varius. Aenean tincidunt, 
	felis a fermentum rutrum, eros neque iaculis quam, eget dictum orci lectus sed purus. 
	Sed vitae nulla id risus suscipit mollis eu ac dolor. Suspendisse auctor lectus in dolor 
	tincidunt in commodo elit dapibus. Donec risus lacus, viverra in adipiscing in, eleifend 
	sed ante. Sed turpis est, pulvinar eget feugiat sed, scelerisque vitae quam. Nullam rutrum 
	imperdiet consequat. </p>
</div>
<script type="text/javascript">
	newick = "(((((((((((Lotus_japonicus:0.10,Medicago_truncatula:0.10)Galegoids:0.09,Glycine_max:0.19)Papilionoideae:0.09,Malus_domestica:0.28)N2FixingClade:0.09,((Manihot_esculenta:0.10,Ricinus_communis:0.10)Euphorbiaceae:0.09,Populus_trichocarpa:0.19)Malpighiales:0.18)Fabids:0.09,((Arabidopsis_thaliana:0.01,Arabidopsis_lyrata:0.01)Arabidopsis:0.18,Carica_papaya:0.19)Brassicales:0.27)Rosids:0.09,Vitis_vinifera:0.55)Eudicots:0.09,(((Oryza_sativa_ssp._japonica:0.01,Oryza_sativa_ssp._indica:0.01)Oryza:0.27,Brachypodium_distachyon:0.28)BEPClade:0.27,(Sorghum_bicolor:0.28,Zea_mays:0.28)PACCMADClade:0.27)Monocots:0.09)Angiosperms:0.09,Selaginella_moellendorffii:0.73)VascularPlants:0.09,Physcomitrella_patens:0.82)LandPlants:0.09,(((Ostreococcus_lucimarinus:0.01,Ostreococcus_tauri:0.01)Ostreococcus:0.18,Micromonas_sp._RCC299:0.19)Mamiellales:0.36,(Volvox_carteri:0.19,Chlamydomonas_reinhardtii:0.19)Chlamydomonadales:0.36)Chlorophyta:0.36)GreenPlants:0.09);";
    tree = parseNewickSpecies(newick);
    graphics = new jsGraphics("phylogenetic-tree");
	drawTreeNew(graphics, tree);
</script>
