<h1>Species</h1>
<div id="tree-container">
  <div id="phylogenetic-tree"></div>
</div>
<div id="tree-text">
  <%= raw(@page.body) %>
</div>

<script type="text/javascript">
  parseAndRenderPhylogeneticTree("phylogenetic-tree");
</script>

<div class="clear"></div>
