<h1>Development Activity</h1>
<%= paginate @activities %>
<% @activities.each do |n| %>
	<p class="activity_date"><%= display_time(Time.parse(n.date)) %></p>
	<p class="activity"><%= n.body %></p>
<% end %>
<%= paginate @activities %>
